* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: getColour(default-light-grey) !important;
}

h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: $default-font;
    font-weight: 600 !important;
}

p {
    margin: 10px !important;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    flex: 1 0 auto;
}